h1{
    text-align: center;
    color: red;
    font-family: arial,verdana,sans-serif;
    font-size: 24px;
    font-weight: initial;
    font-variant: small-caps;
}
/* Controll Font/Text */

body{
    background-color: black;
    background-image: url(bg2.jpg);
    background-position: top center;
    background-repeat: no-repeat;
}

p{
    color: whitesmoke;
    font: bold georgia 12pt;
    text-align: justify;
    text-transform: capitalize;
    line-height: 20px;
    word-spacing: 10px;
}