body{
    color: darkgray;
}

a {
    color: inherit;
}

.hello:link{
    color: orange;
}

.hello:hover{
    color: green;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}

.hello:active{
    font-style: italic;
}

.hello:visited{
    color: red;
}

li:nth-child(odd) a{
    color: green;
}

p:first-of-type{
    color: green;
}