body{ 
    font-family: Arial, Helvetica, sans-serif;
}

h1, h2{
    color: green;
}

ul li a{
    text-decoration: none;
    color: orange;
}

ol li a{
    text-decoration: none;
    color: red;
}

.p-1{
    color: orange;
}

.p-2{
    color: red;
}

.cetak-tebal{
    font-weight: bold;
}